<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Question</title>
</head>
<body>
  <h2 class="title">Question</h2>
  <div class="question">
    <img src= "../question/question.png" />
  </div>

  <div class="images-sghar row">
    <div class="img-container col-3">
      <img src="../question/false_responce1.png" />
    </div>
    <div class="img-container col-3">
      <img src="../question/false_responce2.png" />
    </div>
    <div class="img-container col-3">
      <img src="../question/false_responce3.png" />
    </div>
    <div class="img-container col-3">
      <img src="../question/false_responce4.png" />
    </div>
  </div>

  <div class="images-sghar1 row">
    <div class="img-container col-3">
      <img src="../question/false_responce5.png" />
    </div>
    <div class="img-container col-3">
      <img src="../question/false_responce6.png" />
    </div>
    <div class="img-container col-3">
      <img src="../question/false_responce7.png" />
    </div>
    <div class="img-container col-3">
      <img src="../question/true_responce.png" />
    </div>
  </div>
</body>
</html>