<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Question</title>
</head>
<body>
  <div class="container">
     <h2 class="title">Question</h2>
    <div class="question">
      <img src= "../question/question.png" />
    </div>

    <div class="row">
      <div class="img-options col-3">
        <img src="../question/false_responce1.png" alt = "false_responce1.png" onClick= "javascript:clickImage(alt)"/>
      </div>
      <div class="img-options col-3">
        <img src="../question/false_responce2.png" alt = "false_responce2.png" onClick= "javascript:clickImage(alt)"/>
      </div>
      <div class="img-options col-3">
        <img src="../question/false_responce3.png" alt = "false_responce3.png" onClick= "javascript:clickImage(alt)"/>
      </div>
      <div class="img-options col-3">
        <img src="../question/false_responce4.png" alt = "false_responce4.png" onClick= "javascript:clickImage(alt)"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="img-options col-3">
        <img src="../question/false_responce5.png" alt = "false_responce5.png" onClick= "javascript:clickImage(alt)"/>
      </div>
      <div class="img-options col-3">
        <img src="../question/false_responce6.png" alt = "false_responce6.png" onClick= "javascript:clickImage(alt)"/>
      </div>
      <div class="img-options col-3">
        <img src="../question/false_responce7.png" alt = "false_responce7.png" onClick= "javascript:clickImage(alt)"/>
      </div>
      <div class="img-options col-3">
        <img src="../question/true_responce.png" alt = "true_responce.png" onClick= "javascript:clickImage(alt)"/>
      </div>
    </div>
  </div>
</body>
<script src ="index.js"></script>
</html>